{{template "header" .}}
<div class="px-6">
    <p class="text-gray-800">
        <a class="underline" href="mailto:dylan@pixelparade">Email me</a>
    </p>
</div>
{{template "footer" .}}

{{define "headerText"}}Contact{{end}}