{{template "header" (dict "Tab" "Contact" "Header" "Contact")}}
<div class="px-6">
    <p class="text-gray-800">
        <a class="underline" href="mailto:dylan@pixelparade">Email me</a>
    </p>
</div>
{{template "footer" .}}